@(userForm: Form[Forms.newUser])
@import nav.manageBar
@import helper._

@main("ロンテック社内BBS"){
  @manageBar.render
  <div class="container">
  <form action="@routes.Users.addUser()" method="post" class="form-horizontal">
      <fieldset>
          <legend>新規ユーザ登録</legend>
          <div class="form-group">
          <label class="col-lg-2 control-label">名前</label>
            <div class="col-xs-5">
              <input type="text" name="name" class="form-control" placeholder="名前を入力してください。">
            </div>
          </div>

          <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">パスワード</label>
            <div class="col-xs-5">
              <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
          </div>

          <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">メールアドレス</label>
            <div class="col-xs-5">
              <input type="text" name="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
          <label class="col-lg-2 control-label">権限</label>
            <div class="col-lg-10">
            <div class="radio">
              <label>
                <input type="radio" name="admin" id="optionsRadios1" value="true">
                管理者
              </label>
            </div>
           <div class="radio">
             <label>
               <input type="radio" name="admin" id="optionsRadios1" value="false" checked="checked">
                一般ユーザ
             </label>
           </div>
         </div>
         </div>

         <div class="form-group">
           <div class="col-xs-2 col-lg-offset-1">
             <button type="submit" class="btn btn-primary">送信する</button>
             <button type="reset" class="btn btn-danger">リセット</button>
           </div>
         </div>
       </fieldset>
   </form>
   </div>
}
