@(articles:List[Article])

@import nav.bar
@import helper._

@main("ロンテック社内BBS") {
  @bar.render
  <div class="container">
	  <h1>記事一覧</h1>
  <div class="row">
  <div class="element">
      @for(article <- articles) {
        <div class="col-xs-12 col-sm-6 col-md-3 target">
        <div class="thumbnail">
          <h4 class="text-center">@article.title</h4>
	  <div class="caption">
	    <p>
	      @Html(article.article.replaceAll("(\r\n|\r|\n)","<br>"))
	    </p>
            <p>Write by @User.selectName(article.user_id)</p>
          </div>
        @if(User.selectName(article.user_id) == session.get("name") || User.checkAdmin(session.get("name"))){
	  @form(routes.Articles.update(article.id)) {
	    <button type="submit" class="btn btn-success">編集</button>
          }
        }
	</div>
      </div>
    }
    </div>
    </div>
  </div>
}
