@(user: User,updateForm: Form[Forms.Renew],articles:List[Article])
@import nav.bar
@import helper._

@main("マイページ"){
@bar.render
<div class="container">
<h1>マイページ</h1>
@if(updateForm.hasGlobalErrors) {
  <p style="color:red;">
    @updateForm.globalError.message
  </p>
}
<form action="@routes.Users.updateMypage(user.id)" method="post" class="form-horizontal">
<fieldset>
<input type="hidden" value="@user.id" name="id">

<div class="form-group">
      <label class="col-lg-2 control-label">名前</label>
        <div class="col-xs-5">
          <input type="text" value="@user.name" name="name" class="form-control">
	</div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">パスワード</label>
      <div class="col-xs-5">
        <input type="text" value="@user.password" name="password" class="form-control">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">メールアドレス</label>
      <div class="col-xs-5">
	<input type="text" value="@user.email" name="email" class="form-control">
      </div>
    </div>



    <button type="submit" class="btn btn-primary">修正</button>

  </fieldset>
    </form>

  
    <h1>自分の記事一覧</h1>
    @if(articles.isEmpty){
      <p class="text-warning">あなたの投稿はまだありません。</p>
      <p>今すぐ投稿しましょう！<br>
      <a href="/articles/new" class="btn-link">記事追加へ</a></p>
    } else {
      <div class="row">
        <div class="element">
        @for(article <- articles) {
          <div class="col-xs-12 col-sm-6 col-md-3 target">
            <div class="thumbnail">
              <h4 class="text-center">@article.title</h4>
              <div class="caption">
              <p>
                @Html(article.article.replaceAll("(\r\n|\r|\n)","<br>"))
              </p>
              <p>Write by @User.selectName(article.user_id)</p>
            </div>      
            @form(routes.Articles.update(article.id)) {
              <button type="submit" class="btn btn-success">編集</button>
            }
         </div>
       </div>
       }
     </div>
    </div>
  }
  </div>
}
