@(newForm:Form[Article])

@import nav.bar
@import helper._

@main("ロンテック社内BBS"){
  @bar.render
  <div class="container">
  <form action="@routes.Articles.addArticles()" method="post" class="form-horizontal">
    <fieldset>
      <legend>新規作成</legend>
        <div class="form-group">
        <label class="col-lg-1 control-label">タイトル</label>
          <div class="col-xs-5">
            <input type="text" name="title" class="form-control" placeholder="記事のタイトルを入力して下さい。">
          </div>
	  @for(error <- newForm("title").errors){
	    <p class="text-danger">@Messages(error.message)</p>
          }
	</div>

        <div class="form-group">
        <label class="col-lg-1 control-label">内容</label>
	  <div class="col-xs-5">
            <textarea class="form-control" name="article" rows="4" cols="40"
              placeholder="記事の内容を入力してください"></textarea>
	  </div>
          @for(error <- newForm("article").errors){   
            <p class="text-danger">@Messages(error.message)</p>
          }
        </div>

           <input type="hidden" name="user_id" value="@User.checkId(session.get("name"))">

        <button type="submit" class="btn btn-primary">作成</button>
    </fieldset>
  </form>
  </div>
}
