@(users: List[User])

@import helper._

@main("ユーザ一覧") {

<h1>ユーザ一覧</h1>


 <ul>   <h4> 名前 パスワード メールアドレス  管理員</h4>

        @for(user <- users) {
	    <li>
            @user.name
            @user.password
            @user.email
            @user.admin

				@form(routes.Users.deleteUser(user.id)) {

                    <input type="submit" value="削除" >
                }

				@form(routes.Users.selectUser(user.id)){

					<input type="submit" value="詳細" >



					<a href="updateUser.scala.html"></a>
}

}
</li>
</ul>

<li><a href="/users">トップへ戻る</a></li>
<p>
<input type="button" value="トップへ戻る" onclick="history.back()">
</p>


}

