@(users: List[User])

@import helper._

@main("Rontech社内BBS") {

  <div class="container">
    <h1>ユーザ一覧</h1>
    <table class="table">
      <thead>
        <tr>
          <th>名前</th>
	  <th>パスワード</th>
	  <th>メールアドレス</th>
	  <th>管理者</th>
	  <th>詳細</th>
	  <th>削除</th>
        </tr>
      </thead>
      <tbody>
        @for(user <- users) {
	  <tr>
            <td> @user.name </td>
	    <td> @user.password </td>
	    <td> @user.email </td>
	    <td>
	      @if(user.admin == true){
                管理者
	      }else{
                一般ユーザ
	      }
            </td>
            <td>
	      @form(routes.Users.selectUser(user.id)) {
	        <button type="submit" class="btn btn-success">詳細</button>
	      }
	    </td>
            <td>
	      @form(routes.Users.deleteUser(user.id)){
	        <button type="submit" class="btn btn-danger">削除</button>
	      }
            </td>
          </tr>
       }
       </tbody>
     </table>
     <a href="/users" class="btn btn-info">ユーザ追加</a><br>
     <a href="/" class="btn btn-warning">記事の一覧へ戻る</a>
</div>
}
